.deleteButton {
    margin-left: 10px;
}

.buttons {
    margin: 20px 10px;
}

.todoList {
    margin: 25px auto;
    width: 100%;
    border: 3px solid gray;
    padding: 10px;
    color: #000000;
}


.container {
    position: relative;
    top: -650px;
    border-radius: 3px;
    padding: 20px 20px 100px 15px;
    display: block;
    background: #fff;
    width: 450px;
    margin: 15% auto 0;
}


.todoStyle {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: black;
    text-rendering: optimizeLegibility
}